:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
  background-color: #282C34;
}

.has-border {
  border-right: 1px solid rgb(190, 190, 190);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(190, 190, 190);

  &:hover {
    background: rgba(255, 255, 255, 0.096);
  }
}

.menu-button {
  margin-right: 1rem;
}

.mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: #FFA500;
}

.mat-sidenav-content {
  background-color: #282C34;
  color: rgb(190, 190, 190);
}

.mat-divider {
  background-color: #FFA500;
}
