<div class="container">

  <mat-tab-group>
    <mat-tab label="All">
      <mat-card class="container__child">
        <mat-form-field>
          <mat-label>By Name</mat-label>
          <mat-select #fontSize [(value)]="byName" (selectionChange)="triggerName()" >
            <mat-option *ngFor="let item of dataSourceIdPicker" value={{item.equipmentName}} ngDefaultControl>{{item.equipmentName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>By Classification</mat-label>
          <mat-select #fontSize [(value)]="byClassification" (selectionChange)="triggerClassification()" >
            <mat-option *ngFor="let item of dataSourceIdPicker" value={{item.classification}} ngDefaultControl>{{item.classification}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>By Specification</mat-label>
          <mat-select #fontSize [(value)]="bySpecification" (selectionChange)="triggerSpecification()" >
            <mat-option *ngFor="let item of dataSourceIdPicker" value={{item.specification}} ngDefaultControl>{{item.specification}}</mat-option>
          </mat-select>
        </mat-form-field>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.equipmentName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef> Classification </th>
            <td mat-cell *matCellDef="let element"> {{element.classification}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="specification">
            <th mat-header-cell *matHeaderCellDef> Specification </th>
            <td mat-cell *matCellDef="let element"> {{element.specification}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="broken">
            <th mat-header-cell *matHeaderCellDef> Broken </th>
            <td mat-cell *matCellDef="let element"> {{element.broken}} </td>
          </ng-container>

          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card>
    </mat-tab>
    <mat-tab label="All availabe">
      <mat-card class="container__child">
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.equipmentName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef> Classification </th>
            <td mat-cell *matCellDef="let element"> {{element.classification}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="specification">
            <th mat-header-cell *matHeaderCellDef> Specification </th>
            <td mat-cell *matCellDef="let element"> {{element.specification}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="broken">
            <th mat-header-cell *matHeaderCellDef> Broken </th>
            <td mat-cell *matCellDef="let element"> {{element.broken}} </td>
          </ng-container>

          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card>
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>




</div>
