.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

table {
  width: 90%;
}

table th {
  text-align: center;
}


.addEq__dad {
  margin: auto;
  width: 60%;
}

.addEq {
  display: flex;
  flex-direction: column;
}
