<div class="container">
    <mat-tab-group>
        <mat-tab label="Wszystkie produkty">
            <mat-card class="container__child">
                <mat-form-field>
                    <mat-label>Sortuj po id</mat-label>
                    <mat-select #fontSize [(value)]="byId" (selectionChange)="triggerId()" >
                        <ng-container *ngFor="let item of dataSourceIdPickerByName">
                            <mat-option value={{item}} ngDefaultControl>{{item}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="durationInMonths">
                        <th mat-header-cell *matHeaderCellDef>Czas trwania</th>
                        <td mat-cell *matCellDef="let element"> {{element.durationInMonths}} </td>
                    </ng-container>

                    <ng-container matColumnDef="contract">
                        <th mat-header-cell *matHeaderCellDef>Kontrakt</th>
                        <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Opis</th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Cena</th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef>Aktywność</th>
                        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                    </ng-container>

                    <ng-container matColumnDef="avabileClasses">
                        <th mat-header-cell *matHeaderCellDef>Klasa</th>
                        <td mat-cell *matCellDef="let element"> {{element.avabileClasses}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>